body {
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-size: 81.25%;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

/*-------------Navbar------------*/
nav {
  padding: 8px;
}
.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  justify-content: flex-end;
  padding: 0 4px;
  height: 48px;
  vertical-align: middle;
}

.nav-p {
  padding: 4px 2px 4px 6px;
}
.nav-g {
  padding-right: 15px;
  font-family: arial, sans-serif;
  font-size: 13px;
}
.nav-g:hover {
  text-decoration: underline;
}
.nav-m {
  padding: 16px 12px;
}

#profilePhoto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0px 4px;
}
#menudots {
  width: 16px;
  height: 16px;
}

/*-------------Content------------*/
#content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*-------------Logo------------*/
#logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  img {
    height: 92px;
  }
  height: 192px;
  margin-bottom: 38px;
  z-index: 1;
}
/*-------------Search Bar------------*/

#searchbar {
  position: relative;
  width: 560px;
  margin-bottom: 16px;
}
input {
  background-color: white;
  border: none;
  border-radius: 22px;
  padding: 1px 44px 1px 52px;
  height: 44px;
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  cursor: text;
  border-radius: 30px;
  display: block;
  width: 100%;
  z-index: 1;
}
#voicebtn {
  background: url(/img/googlemic_clr_24px.svg) no-repeat center;
  background-size: 21px 21px;
  height: 44px;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 0;
  right: 22px;
  cursor: pointer;
}

#icon-s {
  background-repeat: no-repeat;
  background-size: 12px;
  height: 20px;
  width: 20px;
  z-index: 2;
  position: absolute;
  top: 12px;
  left: 18px;
}

/*-------------App buttons------------*/

#mostVisited {
  display: flex;
  justify-content: center;

  height: 112px;
  width: 337px;
  margin-bottom: 8px;
  padding: 2px;
  overflow: hidden opacity 300ms ease-in-out;
  outline: none;
}

.app-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  width: 112px;
  text-align: center;
  img {
    height: 24px;
    width: 24px;
  }
  border-radius: 3px;
}
.app-icons:hover {
  background-color: rgba(54, 54, 54, 0.74);
}
.tile {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  height: 48px;
  width: 48px;
  margin-top: 16px;
  z-index: 2;
}
.tile-title {
  color: rgba(125, 134, 142, 1);
  align-items: center;
  display: flex;
  height: 32px;
  margin-top: 6px;
  padding: 2px 8px;
  width: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#addicon {
  width: 30%;
  height: auto;
}
